@font-face {
  font-family: neue;
  src: url(./fonts/3856NeueMachina.woff2);
}
@font-face {
  font-family: "attila";
  src: url(./fonts/attila.ttf);
}
@font-face {
  font-family: "havelock";
  src: url(./fonts/havelock.otf);
}
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  }

html, body {
  width: 100%;
  height: 100%;
}
  
body {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(245, 88, 88, 1) 100%
  );
  font-family: Arial, sans-serif;
}

.todayDeals {
  width: 99vw;
  height: auto;
}



/* .maintdydeal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.firstHeading {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
/* Make it because heading needs space */
.blank {
  width: 3vw;
  height: 2vh;
}

.firstHeading h2 {
  text-align: center;
  font-family: "havelock", sans-serif;
  font-size: 2rem;
  margin: 20px 0;
  color: #fff;
}

.tdyDeal-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 9;
  padding: 20px;
  overflow-x: scroll;
}



.tdyDeal-container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

.tdy-cardDeals {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  border-right: #fff 2px solid;
}

.image {
  width: 30vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 246, 246, 0.78);
  border-radius: 10px;
  position: relative;
}

.heart {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1%;
  right: 1%;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.shapes {
  position: relative;
  width: 100%;
  height: 100%;
}

.whiteHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 25px;
  cursor: pointer;
  opacity: 1;
}

.blackHeart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 25px;
  cursor: pointer;
  color: #000;
}

.heart:hover {
  background-color: #3cbfea;
}

.tdy-cardDeals img {
  width: 50%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.tdy-cardDeals img:hover {
  transform: scale(1.30);
}

.priceDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.tdy-cardDeals h3 {
  font-family: "attila", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 10px 0;
}

.tdy-cardDeals p {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  color: #ffffffb3;
}

.tdy-cardDeals span {
  font-family: "arial", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.tdy-cardDeals button {
  margin-left: 30px;
  width: 30%;
  padding: 10px 10px;
  border: none;
  background-color: #fff;
  color: #833ab4;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 4;
  cursor: pointer;
}

.tdy-cardDeals button:hover {
  background-color: #3cbfea;
  color: #fff;
}

.border-line {
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 50px;
  margin-bottom: 50px;
  /* transform: scaleX(0);
  transition: transform 0.3s ease-in-out; */
}