* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-body {
  height: calc(100vh - 10vh); /* 100% viewport height minus nav */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.4s ease-in-out;
  display: none;
  z-index: 5; /* ✅ keep it here */
  position: relative; /* required for z-index to work */
}

.login-container.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.blur {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; /* just under the login container */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.blur.show {
  display: block;
  opacity: 1;
}

.container {
  width: 900px;
  height: 550px;
  background: #fff;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-section {
  width: 50%;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  margin-top: 15px;
  padding: 12px;;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.form a {
  font-size: 14px;
  text-align: right;
  color: #888;
  text-decoration: none;
}

#signInForm h2{
  color: rgba(131, 58, 180, 1);
}

#signInForm button {
  background-color: rgba(131, 58, 180, 1);
}

#signUpForm h2{
  color: rgba(245, 88, 88, 1);
}

#signUpForm button {
  background-color: rgba(245, 88, 88, 1);
}

.panel {
  width: 50%;
  background-color: rgba(131, 58, 180, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.panel button {
  margin-top: 20px;
  padding: 10px 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

/* Hidden signup by default */
.signup-section {
  transform: translateX(100%);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #fff;
}

.container.active .signup-section {
  transform: translateX(0%);
  z-index: 5;
}

.container.active .login-section {
  transform: translateX(-100%);
}

.container.active .panel {
  transform: translateX(-100%);
}

.login-container {
  position: relative;
}

.closed {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
  z-index: 10;
}