@font-face {
  font-family: "attila";
  src: url(./fonts/attila.ttf);
}
@font-face {
  font-family: "havelock";
  src: url(./fonts/havelock.otf);
}
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf);
}


#nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

.logo-div .logo {
  margin-top: 15px;
  width: 7.5vw;
  height: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}

.links a {
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.3s ease-in-out;
}

.links a:hover::after {
  transform: scaleX(1);
}

.links a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links .active:hover::after {
  transform: none;
}

.sign {
  font-family: "Montserrat";
  font-size: 2.5rem;
  color: #FFF;
  text-align: center;
  font-weight: 600;
}

.active {
  font-weight: bold;
  border-bottom: #FFF 3px solid;
}

.active:hover::after {
  transform: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}

.login a {
  text-decoration: none;
  font-size: 1.5vw;
}

.login a:hover::after {
  transform: scaleX(1);
}

.login a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4vw;
  height: 4vh;
  cursor: pointer;
}

.line1 {
  width: 2.3vw;
  height: 2.7px;
  background-color: #fff;
  border-radius: 50px;
}

.line2 {
  width: 3.5vw;
  height: 2.7px;
  background-color: #fff;
  border-radius: 50px;
}

.line {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.menubar {
  opacity: 0;
  position: absolute;
  right: 1vw;
  top: 10vh;
  width: 15vw;
  height: 35vh;
  background-color: #fff;
  z-index: 1000;
}

#nav input {
  margin-top: 25px;
  background-color: #111;
}

.search {
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: #FFF;
  color: #ccc;
  font-size: 16px;
  outline: none;
}

.search-input {
  padding: 15px 25px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 12px;
  background: #111;
  color: #eee;
  font-size: 16px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.search-input::placeholder {
  color: #666;
  font-style: italic;
}

.search-input:focus {
  border-color: #7f5af0;
  box-shadow: 0 0 12px rgba(127, 90, 240, 0.5);
  background-color: #1a1a1a;
}