@font-face {
  font-family: "attila";
  src: url(./fonts/attila.ttf);
}
@font-face {
  font-family: "havelock";
  src: url(./fonts/havelock.otf);
}
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf);
}

#nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

.logo1 {
  margin-top: 15px;
  width: 5vw;
  height: auto;
}

.links1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}

.links1 a {
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.3s ease-in-out;
}

.links1 a:hover::after {
  transform: scaleX(1);
}

.links1 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links1 .active:hover::after {
  transform: none;
}

.sign {
  font-family: "Montserrat";
  font-size: 2.5rem;
  color: #FFF;
  text-align: center;
  font-weight: 600;
}

.active {
  font-weight: bold;
  border-bottom: #FFF 3px solid;
}

.active:hover::after {
  transform: none;
}

.login1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}

.login1 a {
  text-decoration: none;
  font-size: 1.5vw;
}

.login1 a:hover::after {
  transform: scaleX(1);
}

.login1 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55px;
  height: 30px;
  cursor: pointer;
}

.line1 {
  width: 35px;
  height: 2.7px;
  background-color: #fff;
  border-radius: 50px;
}

.line2 {
  width: 55px;
  height: 2.7px;
  background-color: #fff;
  border-radius: 50px;
}

.line {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.menubar {
  opacity: 0;
  position: absolute;
  right: 1vw;
  top: 10vh;
  width: 15vw;
  height: 35vh;
  background-color: #fff;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

#nav input {
  margin-top: 25px;
  background-color: #1a1a1a7b;
}

.search {
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: #FFF;
  color: #ccc;
  font-size: 16px;
  outline: none;
}

.search-input {
  padding: 15px 25px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 12px;
  background: #fff;
  color: #eee;
  font-size: 16px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.search-input::placeholder {
  color: #FFF;
  font-style: italic;
}

.search-input:focus {
  border-color: #7f5af0;
  box-shadow: 0 0 12px rgba(127, 90, 240, 0.5);
  background-color: #1a1a1a;
}






/* For Mobile */

#nav-mobile {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10vh;
}

.logo-div2 {
  display: none;
  align-items: center;
  justify-content: center;
  width: 10vw;
}

.logo2 {
  display: none;
  margin-top: 15px;
  width: 50px;
  height: auto;
  align-self: center;
  justify-self: center;
}

.links2 i {
  font-size: 1.2rem;
}

.links2 {
  display: none;
  width: 50vw;
}

.links2 a {
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.3s ease-in-out;
}

.links2 a:hover::after {
  transform: scaleX(1);
}

.links2 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links2 .active:hover::after {
  transform: none;
}

.login2 {
  display: none;
  width: 20vw;
}

.login2 a {
  text-decoration: none;
  font-size: 1.5vw;
}

.login2 a:hover::after {
  transform: scaleX(1);
}

.login2 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease-in-out;
}





@media (max-width: 734px){
  .login1{
    display: none;
  }
  .links1{
    display: none;
  }
  .logo1{
    display: none;
  }
  .search-input{
    display: none;
  }
  #nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .logo-div2{
    display: flex;
  }
  .links2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .login2{
    display: flex;
  }
  .logo2{
    display: block;
  }
}